<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coronavirus-info</title>
    <link rel="shortcut icon" href="{% static 'img/title.ico' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script type="text/javascript" src="{% static 'js/jquery-3.5.1.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</head>

<body>

    <div class="container-fluid">
        <div class="header">

            <div class="header-img">
                <img src="{% static 'img/main-bg.jpg' %}" alt="" class="virus">
                <div class="black"></div>
            </div>
            <div class="header-lang">
                <div class="lang-block">
                    <div class="lang-text">
                        <a class="lang-text-p" href="/ua">Українська</a>
                    </div>
                    <div class="lang-text">
                        <a class="lang-text-p" href="/ru">Русский</a>
                    </div>
                    <div class="lang-text">
                        <a class="lang-text-p" href="/en">English</a>
                    </div>
                </div>
            </div>
            <div class="header-text">
                <h1>Coronavirus-info<br /></h1>
            </div>
            
            <div class="header-age">
                <div class="container">
                    <div class="row">
                        <div class="col"><form action="/en"><button class="header-age-btn">For kids</button></form></div>
                        <div class="col"><form action="/en-child"><button class="header-age-btn">For adults</button></form></div>
                    </div>
                </div>
            </div>

        </div>
        <div class="section-1">
            <div class="container">
                <div class="menu-text">
                    <h1>Content</h1>
                    <div class="menu-content">
                        <div class="row">
                            <div class="col-md-4 col-sm-6 col-12">
                                <div class="menu-block scr" data-to=".section-2">
                                    <div class="menu-block-wrap">
                                        <img src="{% static 'img/menu-1.svg' %}" alt="">
                                        <h4>Statistic</h4>
                                        <p>Coronavirus disease statistics in the world and Ukraine</p>
                                    </div>
                                </div>
                            </div>
<!--
                            <div class="col-md-4 col-sm-6 col-12">
                                <div class="menu-block scr" data-to=".section-3">
                                    <div class="menu-block-wrap">
                                        <img src="{% static 'img/menu-2.svg' %}" alt="">
                                        <h4>Coronavirus` history</h4>
                                        <p>How the coronavirus originated and spread</p>
                                    </div>
                                </div>
                            </div>
-->
                            <div class="col-md-4 col-sm-6 col-12">
                                <div class="menu-block scr" data-to=".section-4">
                                    <div class="menu-block-wrap">
                                        <img src="{% static 'img/menu-3.svg' %}" alt="">
                                        <h4>Infection routes</h4>
                                        <p>How can you get infected with coronavirus</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-12">
                                <div class="menu-block scr" data-to=".section-5">
                                    <div class="menu-block-wrap">
                                        <img src="{% static 'img/menu-4.svg' %}" alt="">
                                        <h4>Symptoms</h4>
                                        <p>Symptoms of coronavirus infection</p>
                                    </div>
                                </div>
                            </div>
<!--
                            <div class="col-md-4 col-sm-6 col-12">
                                <div class="menu-block scr" data-to=".section-6">
                                    <div class="menu-block-wrap">
                                        <img src="{% static 'img/menu-5.svg' %}" alt="">
                                        <h4>Coronavirus` dangers</h4>
                                        <p>What are the complications of coronavirus</p>
                                    </div>
                                </div>
                            </div>
-->
                            <div class="col-md-4 col-sm-6 col-12">
                                <div class="menu-block scr" data-to=".section-7">
                                    <div class="menu-block-wrap">
                                        <img src="{% static 'img/menu-6.svg' %}" alt="">
                                        <h4>Prevention</h4>
                                        <p>How to protect yourself from coronavirus infection</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-2">
            <div class="container">
                <div class="stats">
                    <div class="stats-text">
                        <h1>
Morbidity statistics in Ukraine</h1>
                    </div>
                    <div class="stats-content">
                        <div class="row">
                            <div class="col-lg-4 col-12 col-sm-6">
                                <div class="stats-block">
                                    <img src="img/stat1.svg" alt="">
                                    <p class="stats-subheader">Cases:</p>
                                    <div class="counter">
                                        <p>{{ total_cases }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 rec">
                                <div class="stats-block rec">
                                    <img src="img/stat2.svg" alt="">
                                    <p class="stats-subheader">Recoveries:</p>
                                    <div class="counter">
                                        <p>{{ total_recovered }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-12 col-sm-6">
                                <div class="stats-block">
                                    <img src="img/stat3.svg" alt="">
                                    <p class="stats-subheader">Deaths:</p>
                                    <div class="counter">
                                        <p>{{ total_deaths }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm">
                                <div class="stats-block">
                                    <img src="img/stat1.svg" alt="">
                                    <p class="stats-subheader">Daily cases:</p>
                                    <div class="counter stat-new">
                                        <p>+<span class="stats-new">{{ new_cases }}</span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm">
                                <div class="stats-block">
                                    <img src="img/stat3.svg" alt="">
                                    <p class="stats-subheader">Daily deaths:</p>
                                    <div class="counter stat-new">
                                        <p>+<span class="stats-new">{{ new_deaths }}</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!--
        <div class="section-3">
            <div class="container">
                <div class="history">
                    <div class="history-text">
                        <h1>Coronavirus history
</h1>
                    </div>
                    <div class="history-content">
                        <h3>Appearance versions
</h3>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;There are several versions of how the coronavirus infection appeared and spread throughout the planet. Let's start with the fact that the first case was registered in China, in the city of Wuhan. There is a large market in the city, which sells various delicacies, beloved by the Chinese. <br /><br />&nbsp;&nbsp;&nbsp;&nbsp;The first version says that the coronavirus originated among animals and already on the market itself, through the transmission of infection between animals, mutated and transmitted to humans. The Chinese government also adheres to this version. </p>
                        <div class="history-img"><img src="img/history1.jpg" alt=""></div>
                        <p> &nbsp;&nbsp;&nbsp;&nbsp; The second version lies in the accusation of the staff of the IIV - Wuhan Institute of Virology. The institute is located close to the market where the first cases of the disease were diagnosed, so it was believed that there was a leak of biological material from the laboratory, which led to a pandemic in China, and then in the world.
</p>
                        <div class="history-img"><img src="img/history2.jpg" alt=""></div>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp; Some are of the opinion that all this is a worldwide conspiracy and an attempt to artificially reduce the world's population, but these are only guesses, not confirmed by real facts.</p>
                        <h3>First cases
</h3>
                        <p>
                            The first diagnosis was made as early as December 31, 2019, while people with very similar symptoms have been hospitalized since December 8 of the same year. From January 1, 2020, the authorities began to introduce quarantine, first local, then widespread. Two weeks later, the Chinese authorities admitted that they had failed to contain the virus, despite the security measures taken. Many countries have introduced mandatory temperature controls when entering the country. By the end of the month, the virus was seen in many parts of the world, which allowed the WHO to declare the SARC-COV-2 pandemic.
                        </p>
                        <div class="history-img">
                            <video autoplay muted loop id="v1">
                                <source src="{% static 'img/china-vid.webm.480p.vp9.webm' %}" type="video/webm">
                            </video>
                        </div>
                    </div>
                </div>
            </div>
        </div>
-->
        <div class="section-4">
            <div class="container">
                <div class="way">
                    <div class="way-text">
                        <h1>
Ways of transmission of coronavirus</h1>
                    </div>
                    <div class="way-content">
                        <div class="row">
                            <div class="col-12 col-sm-6">
                                <div class="way-block">
                                    <div class="way-wrap">
                                        <img src="{% static 'img/way1.svg' %}" alt="">
                                        <h2>By airborne droplets</h2>
                                        <p>The micro-droplets of water that your neighbor infected with the coronavirus emits has a very high chance of infecting you, so be sure to wear a mask!</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="way-block">
                                    <div class="way-wrap">
                                        <img src="{% static 'img/way2.svg' %}" alt="">
                                        <h2>Through surfaces</h2>
                                        <p>ITry to avoid touching the surface, as on metal and plastic, the virus can survive for up to 2-3 days.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="way-block">
                                    <div class="way-wrap">
                                        <img src="{% static 'img/way3.svg' %}" alt="">
                                        <h2>Through blood</h2>
                                        <p>Like most other viruses, coronavirus can be transmitted through various body fluids. These are blood and saliva. Infection can occur during the reuse of medical instruments without prior disinfection.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="way-block">
                                    <div class="way-wrap">
                                        <img src="{% static 'img/way4.svg' %}" alt="">
                                        <h2>Through cats</h2>
                                        <p>Never come into contact with stray cats, as it is scientifically proven that cats are carriers of the coronavirus.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-5">
            <div class="container">
                <div class="symp">
                    <div class="symp-text">
                        <h1>Symptoms of the coronavirus</h1>
                        <p>Be sure to tell your parents if you find any of these symptoms!</p>
                    </div>
                    <div class="symp-content">
                        <div class="row">
                            <div class="col-12 col-sm">
                                <div class="symp-wrap">
                                    <div class="symp-block">
                                        <img src="{% static 'img/symp1.svg' %}" alt="">
                                        <h2>Increased body temperature</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm col-12">
                                <div class="symp-wrap">
                                    <div class="symp-block">
                                        <img src="{% static 'img/symp2.svg' %}" alt="">
                                        <h2>Dry cough</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm col-12">
                                <div class="symp-wrap">
                                    <div class="symp-block">
                                        <img src="{% static 'img/symp3.svg' %}" alt="">
                                        <h2>
Prolonged fatigue</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="symp-block-sm">
                            <h4>Also, infection with coronavirus can be accompanied by the following symptoms:</h4>
                            <p>- sore throat</p>
                            <p>- headache</p>
                            <p>- loss of smell and taste</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!--
        <div class="section-6">
            <div class="container">
                <div class="dang">
                    <div class="dang-text">
                        <h1>Complications of coronavirus</h1>
                    </div>
                    <div class="dang-content">
                        <h3>What is the result of the "protracted" coronavirus?</h3>
                        <p>In most cases, the disease is mild to moderate, but in some cases, the coronavirus causes severe inflammation, which can ultimately lead to fatal pneumonia. Due to its long presence in the human body, the virus causes inflammatory processes. The following systems are mainly affected:<br /><br />
                            <span class="dang-span">- cardiovascular (acute heart failure, disseminated intravascular coagulation);</span><br />
                        </p>
                        <div class="dang-img">
                            <img src="{% static 'img/dang1.jpg' %}" alt="">
                        </div>
                        <p>
                            <span class="dang-span">
- urinary system (acute renal failure);</span>
                        </p>
                        <div class="dang-img">
                            <img src="{% static 'img/dang2.jpg' %}" alt="">
                        </div>
                        <p>
                            <span class="dang-span">
                                - respiratory system (acute respiratory distress syndrome, acute respiratory failure).
                            </span>
                        </p>
                        <div class="dang-img">
                            <img src="{% static 'img/dang3.jpg' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
-->
        <div class="section-7">
            <div class="container">
                <div class="prof">
                    <div class="prof-text">
                        <h1>Prevention of coronavirus</h1>
                    </div>
                    <div class="prof-content">
                        <h3>Never forget a few simple rules and it will be much more difficult for the coronavirus to infect you.</h3>
                        <div class="row">
                            <div class="col-lg-6 col-12">
                                <div class="prof-block">
                                    <div class="p-wrap">
                                        <img src="{% static 'img/prof1.svg' %}" alt="">
                                        <h4>Hygiene</h4>
                                        <p>Always wash my hands when coming from the street or before eating. A lot of microbes accumulate on the hands and coronavirus is not an exception.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-12">
                                <div class="prof-block">
                                    <div class="p-wrap">
                                        <img src="{% static 'img/prof2.svg' %}" alt="">
                                        <h4>Avoid contact with sick people</h4>
                                        <p>Try not to communicate with people who have symptoms of coronavirus, as it is very easy to get infected.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-12">
                                <div class="prof-block">
                                    <div class="p-wrap">
                                        <img src="{% static 'img/prof3.svg' %}" alt="">
                                        <h4>Food processing</h4>
                                        <p>It is imperative to wash not only hands, but also food. On frozen food, the coronavirus can last 2-3 months!</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-12">
                                <div class="prof-block">
                                    <div class="p-wrap">
                                        <img src="{% static 'img/prof4.svg' %}" alt="">
                                        <h4>Stick to self-isolation</h4>
                                        <p>Try to stay at home as much as possible, so you have much less chance of getting infected.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="container">
                <div class="source">
                    <div class="source-text">
                        <h1>Sources of information</h1>
                    </div>
                    <div class="source-content">
                        <div class="row">
                            <div class="col source-block"><a href="https://moz.gov.ua/"><img src="{% static 'img/source1.png' %}" alt="" class="i1"></a></div>
                            <div class="col source-block"><a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019"><img src="{% static 'img/source2.png' %}" alt="" class="i2"></a></div>
                            <div class="col source-block"><a href="https://en.wikipedia.org/wiki/Coronavirus"><img src="{% static 'img/source3.png' %}" alt="" class="i3"></a></div>
                            <div class="col source-block"><a href="https://www.worldometers.info/coronavirus/"><img src="{% static 'img/source4.png' %}" alt="" class="i4"></a></div>
                        </div>
                        <p class="rights">All rights reserved</p>
                        <p class="devs">CHUCHMAN United dev. studio</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body></html>